.encabezado {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.home {
    max-width: 10000px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    padding-bottom: 25px;
}


.link {
    text-decoration: none;
    color: #000;
}

.box-one {
    display: flex;
}

.bloque_preferirnos {
    display: flex;
    padding: 25px;

}

.container {
    max-width: 1374px !important;
}

.titulo-destacado {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: 63px;
    font-size: 23px;
    position: relative;
    text-align: center;
    font-weight: 800;
}

.titulo-destacado::after,
.titulo-destacado::before {
    content:'';
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: black;
    top:0.6em
}
.titulo-destacado::before{
    left: -302px;
}
.titulo-destacado::after{
    right: -302px;
}
@media (max-width: 600px) {
    .title {
        margin-top: 24px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: rgba(19, 25, 35, 0.75);
    }
}

.contenedor-principal {
    height: 754px;
}

.imagen_slide_principal {
    height: 462px;
    border-radius: 30px;
    width: 100%;
}

/*aqui estan los estilos para los controles de los slides*/
.controles-svg {
    padding: 10px;
    background-color: #e4e3e6;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
    color: #f3f2f5;
    border-radius: 100%;
}


/*estilos de cartas de productos */


.card_contenido {
    border: none !important;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    ;
}

.imagen-destacado {
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.productos {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: end;
    padding-right: 25px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
    ;
}

.box-ofertas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-text {
    font-weight: 700;
}

.box_oferta_contenido {
    padding: 25px;
    background-color: #876CEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;

}


.slideshow-productos {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn-detalles {
    width: 90PX;
    padding: 4px !important;
    font-size: 15px;
    border-radius: 5px;
    BACKGROUND-COLOR: #ff725e !important;
    color: aliceblue;
}

.btn-color {
    background-color: #ff725e;
    color: #FFF;
}

.btn-color-detalle {
    background-color: #ffc107;
    color: #FFF;
}

/*estilos de seccion de detalle */
.box-sin-margin {
    margin: 0px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.contenedor-info {
    align-self: center;
}

.letter-price {
    font-size: 20px;
}

.text-counter {
    margin-right: 28px;
    margin-bottom: 0px !important;
    margin-left: 5px;
    width: 55px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-envios {
    color: #876CEB;
    font-weight: 700;
}

.seccion-counter {
    display: inline-flex;
    align-self: center;
    margin: 10px 0px;
}

.button-counter {
    background-color: #876CEB;
    border: none;
    width: 40px !important;
    height: 33px;
    color: #fff;
}

.contenedor-counter {
    display: flex;
    margin-left: 25px;
}

.counter {
    margin-right: 25px;
    margin-bottom: 0px !important;
    width: 55px;
    align-items: center;
    margin: 0px !important;
    display: flex;
    justify-content: center;
}

.star-opinion {
    width: 25px;
}

.descuento-producto {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    color: #FFF;
}

/* botones de compra */
.btn {
    width: 154px  !important;
    color: #fff;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    height: max-content;
}

.btn-comprar {
    background-color: #ffc107;
    color: #000;
}

.btn-cart {
    background-color: #ff725e;
}

/* icono de valores de la empresa*/
.icono-valores {
    height: 50px;
    width: 50px;
    margin: 10px;
    color: #876CEB;
}

/*formulario componente*/
.form_cortina {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.open_form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max-content;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.anuncio-izq{
    display: flex;
    background-color: #ff725e;
    color: #f3f2f5;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.anuncio-der{
    display: flex;
    background-color: rgb(65, 70, 75);
    color: #f3f2f5;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}