button {
    border: none !important;
}

.navbar_icono{
    z-index: 1;
}
.imagen_slide{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0px;
    
}